.tips-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 24px;
  padding: 24px 0;

  .tips-info-subttl {
    font-size: 24px;
  }
  .tips-info-ttl {
    font-size: 40px;
    line-height: 1.3;
  }
  .tips-list-head {
    margin-top: 28px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
  }
  .tips-list {
    font-size: 18px;
  }
}

.education-list-ttl {
  font-size: 32px;
  margin-bottom: 20px;
}

.education-list {
  display: grid;
  gap: 16px;

  .education-item {
    border: 1px solid #838fa0;
    border-radius: 10px;
    padding: 24px 20px;
    display: grid; 
    grid-template-columns: 40px auto 120px;
    gap: 16px;
  }

  .education-item-idx {
    background: #cce2f7;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--oxford-blue);
    font-weight: 700;
  }

  .education-item-ttl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .education-item-separator {
    width: 1px;
    height: 20px;
    background-color: var(--oxford-blue);
  }

  .education-item-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  .education-item-actions {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-end;

    .action-btn {
      color: #0070d6;
      font-size: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      &:hover {
        background: rgba(37, 112, 233, 0.2);
      }
    }
  }
}

.education-add {
  margin-top: 20px;

  .education-add-btn {
    width: 100%;
    border: 2px dashed #0c1968;
    border-radius: 10px;
    background-color: var(--white);
    font-weight: 700;
    padding: 14px 16px;
    color: #0c1986;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;

    .btn-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }

    &:hover {
      .btn-text {
        text-decoration: underline;
      }
    }
  }
}
