.cascade-template {
  padding: 72px 0;

  .cascade-template-wrap {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  .cascade-template-img {
    max-width: 450px;
    padding: 16px;
  }
  .cascade-template-content {
    text-align: center;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  .cascade-template-ttl {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .cascade-template-lead {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .cascade-template-text {
    font-size: 18px;
  }
  .separator-line {
    margin: 40px 0;
    height: 2px;
    width: 80px;
    background-color: var(--red);
  }
  .cascade-template-user {
    font-size: 32px;
    font-weight: 500;
  }
  .btn {
    margin-top: 32px;
  }
}
