.testimony-single {
  padding: 60px 0;
  background: var(--alice-blue);

  @media(max-width: 992px){
    padding: 40px 0;
  }

  .testimony-single-wrap {
    text-align: center;
  }

  blockquote {
    max-width: 880px;
    margin-right: auto;
    margin-left: auto;
    padding: 32px;
    position: relative;

    &::before{
        position: absolute;
        right: calc(100% - 32px);
        top: -10px;
        content: "";
        width: 36px;
        height: 36px;
        background: url("../../../../assets/icons/quote.png") center/contain no-repeat;

        @media(max-width: 576px){
          width: 32px;
          height: 32px;
        }
    }

    &::after{
        position: absolute;
        left: calc(100% - 32px);
        bottom: -10px;
        content: "";
        width: 36px;
        height: 36px;
        background: url("../../../../assets//icons//quote.png") center/contain no-repeat;
        transform: rotate(180deg);

        @media(max-width: 576px){
          width: 32px;
          height: 32px;
        }
    }
  }
  .quote-person{
    font-weight: 600;
  }
}
